@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes shrink {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    @keyframes shrink {
        from {
            transform: scaleX(1);
        }
        to {
            transform: scaleX(0);
        }
    }

    .shrink-bar {
        animation-duration: 0.01ms !important;
    }
}
